<% provide(:title, "Opis") %>
<h1>Opis</h1>
<p>
  Spletna aplikacija Tvidter je simulacija socialnega omrežja Twitter, ustvarjena v ogrodju Ruby on Rails, z namenom
  predstavitve mojih sposobnosti razvijanja spletnih aplikacij. Avtor: <a href="http://vido.si">Vid Jerčič</a>
</p>