<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Objave:</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Dobrodošli na Tvidterju</h1>
      <h2>
      Pridruži se novemu socialnemu omrežju
    </h2>
    <%= link_to "Registriraj se!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>