<h1>Tvidter</h1>

<p>Zdravo <%= @user.name %>,</p>

<p>
Dobrodošel na Tvidterju, klikni na spodnjo povezavo za aktivacijo računa:
</p>

<%= link_to "Aktiviraj", edit_account_activation_url(@user.activation_token, email: @user.email) %>