<h1>Resetiraj geslo</h1>

<p>Za ponastavitev geslo klikni spodnjo povezavo:</p>

<%= link_to "Ponastavi geslo", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Povezava bo potekla v dveh urah.</p>

<p>
Če niste zahtevali ponastavitve geslo, ignorirajte to sporočilo.
</p>