Za ponastavitev geslo klikni spodnjo povezavo:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Povezava bo potekla v dveh urah.

Če niste zahtevali ponastavitve geslo, ignorirajte to sporočilo.