<% provide(:title, "Posodobi profil") %>
<h1>Posodobi profil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, 'Ime' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'Geslo' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Ponovi geslo" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Shrani spremembe", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">spremeni</a>
    </div>
  </div>
</div>