<% provide(:title, 'Registracija') %>
<h1>Registracija</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, 'Ime'  %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'Geslo' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Potrdi geslo" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Ustvari račun", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>