<%= form_for(@micropost, html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Ustvari novo objavo..." %>
  </div>
  <%= f.submit "Objavi", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, placeholder: "slika", accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Največja dovoljena velikost je 5MB. Prosim izberi manjšo datoteko.');
    }
  });
</script>