<div class="twPc-div">


	<div>

      <%= link_to gravatar_for(current_user, size: 50), class: "twPc-avatarImg" %>

		<div class="twPc-divUser">
			<div class="twPc-divName">
				<p><%= current_user.name %></p>
			</div>
			<span>
				<%= link_to "oglej si profil", current_user %>
			</span>
		</div>
		<br/>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<p>
						<span class="twPc-StatLabel twPc-block">Objav</span>
						<span class="twPc-StatValue"><%= current_user.microposts.count %></span>
					</p>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<p>
						<span class="twPc-StatLabel twPc-block">Sledeni</span>
						<span class="twPc-StatValue"><%= current_user.following.count %></span>
					</p>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<p>
						<span class="twPc-StatLabel twPc-block">Sledilci</span>
						<span class="twPc-StatValue"><%= current_user.followers.count %></span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>