<footer class="footer">
  <small>
    2016 <a href="http://vido.si">Tvidter sample app</a>
    by <a href="http://vido.si/">Vid Jerčič</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Opis",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://vido.si/">Blog</a></li>
    </ul>
  </nav>
</footer>