<!-- new-->
<div class="navbar navbar-blue navbar-fixed-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                      <%= link_to "v", root_path, class: "navbar-brand logo" %>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                      <li>
                        <li><%= link_to "Tvidter", root_path, class: "navbar-brand" %></li>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="userdrop">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                        <ul class="dropdown-menu">
                          <% if logged_in? %>
                            <li><%= link_to "Uporabniki", users_path %></li>
                            <li><%= link_to "Profil", current_user %></li>
                            <li><%= link_to "Nastavitve", edit_user_path(current_user) %></li>
                            <li>
                              <%= link_to "Odjava", logout_path, method: "delete" %>
                            </li>
                          <% else %>
                            <li><%= link_to "Prijava", login_path %></li>
                          <% end %>
                        </ul>
                      </li>
                    </ul>
                  	</nav>
                </div>
